@model web.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookstore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookstore.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.LastName)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Genre ID</th>
                    <th>Genre name</th>
                </tr>
                @foreach (var item in Model.Genres)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenreID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenreName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
