@model web.Models.BookstoreViewModels.BookstoreIndexData

@{
    ViewData["Title"] = "BookstoresView";
}

<h1>Bookstores view</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bookstores) {
        string selectedRow = "";
                if (item.BookstoreId == (int?)ViewData["BookstoreID"])
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEdited)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookstoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookstoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookstoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
